<%= simple_form_for quote, html: { class: "quote form" } do |f| %>
  <% if quote.errors.any? %>
    <div class="error-message">
      <%= quote.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>
  <div class="bg-white shadow-md p-2 rounded-md flex ">
    <%= f.input :name, label: false, wrapper_html: {class: 'w-full'}, input_html: {autofocus: true } %>
    <button type="submit" class="btn inline-flex btn-green"><%=show_svg('check.svg') %></button>
  </div>
<% end %>