<h1 data-controller="hello">Pages#home</h1>
<p>Please, select one of the following options</p>
<a href="/page1" data-turbo-action="replace">Page 1</a>
<a href="/page2" data-turbo-action="replace">Page 2</a>
<a href="/page3" data-turbo-action="replace">Page 3</a>

<a href="/confirmation"  data-turbo-confirm="Do you want to leave this page?" >Page with confirmation</a>

<a href="/page1">Page 1 with disabled turbo</a>



